
@{
    ViewBag.Title = "Greeting";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    새로 만든 페이지<br />
    안녕하세요 인사드립니다<br />
</address>

<address>
    <strong>다음:</strong>   <a href="http://www.daum.net">www.daum.net</a><br />
</address>